<h1>New Stocktake Entry</h1>

<%= form_with(model: @stocktake_entry, local: true) do |form| %>
  <div>
    <%= form.label :stocktake_id, "Stocktake" %>
    <%= form.collection_select :stocktake_id, Stocktake.all, :id, :date, prompt: "Select Stocktake" %>
  </div>

  <div>
    <%= form.label :product_id, "Product" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, prompt: "Select Product" %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, step: 0.1 %>
  </div>

  <div>
    <%= form.submit "Save Entry" %>
  </div>
<% end %>
