<h1>Stocktake Comparison Report</h1>

<%= form_with url: reports_path, method: :get do %>
  <div>
    <%= label_tag :stocktake_a_id, "Previous stock take:" %>
    <%= select_tag :stocktake_a_id, options_from_collection_for_select(@stocktakes, :id, :date, params[:stocktake_a_id]), prompt: "Choose Stock take" %>
  </div>

  <div>
    <%= label_tag :stocktake_b_id, "Current stock take:" %>
    <%= select_tag :stocktake_b_id, options_from_collection_for_select(@stocktakes, :id, :date, params[:stocktake_b_id]), prompt: "Choose Stock take" %>
  </div>

  <%= submit_tag "Compare", class: "btn btn-primary" %>
<% end %>

<hr>

<% if @previous_stock.present? && @current_stock.present? %>
  <h2>Comparison Results</h2>
  <table>
    <tr>
      <th>Product</th>
      <th>Previous Quantity</th>
      <th>Current Quantity</th>
      <th>Variation</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= @previous_stock[product.id] || 0 %></td>
        <td><%= @current_stock[product.id] || 0 %></td>
        <td>
          <%= (@current_stock[product.id] || 0) - (@previous_stock[product.id] || 0) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Select two stocktakes</p>
<% end %>